<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>weibo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>20A5533B1D44CE6F002CDA50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20A5534F1D44CE70002CDA50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20A5535A1D44CE70002CDA50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
